aadikarta-social-media/davtek-short-form-content-automation.json
{
  "name": "Posting Videos to Social Media (Sanitized)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Video Posting to Socials",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video URL",
              "placeholder": "Enter video URL here",
              "requiredField": true
            },
            {
              "fieldLabel": "Title",
              "placeholder": "Enter title here",
              "requiredField": true
            },
            {
              "fieldLabel": "Description",
              "placeholder": "Enter description here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -336,
        -80
      ],
      "id": "40ac8707-3210-4d5d-a3c6-69ae6e61a524",
      "name": "On form submission",
      "webhookId": "PLACEHOLDER_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $json['Video URL'] }}",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "ENTER_YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Posted Content"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -80
      ],
      "id": "a636fe42-5e0a-40e1-a50f-be74990fbbaf",
      "name": "Move file"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41271b00-6f63-4a6a-9658-3b9750c0f06b",
              "name": "video",
              "value": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "649bffde-6c43-4a12-b785-9d08d6aa4afd",
              "name": "title",
              "value": "={{ $('On form submission').item.json.Title }}",
              "type": "string"
            },
            {
              "id": "6f3d145f-3234-4dc9-9892-6773d2c89947",
              "name": "description",
              "value": "={{ $('On form submission').item.json.Description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -80
      ],
      "id": "b1ad9b69-4e4e-4f3e-b7bb-19b04e70dbe5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "ENTER_YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Video Posting Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "={{ $json.video }}",
            "Title": "={{ $json.title }}",
            "Description": "={{ $json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -80
      ],
      "id": "a37c1996-d020-48ba-a6e6-e958bf3b1834",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "content": "## Setup Guide \n\n1. Connect your Google account with the Drive node, set the folders that you want to use\n\n2. Connect your Google account to the Google Sheets node, make sure that you have the cells matching, Video URL, Title and Caption.\n\nSetup your account with Zapier and Buffer:\n\nhttps://zapier.com\nhttps://buffer.com\n\nWatch my video on how to setup the Zapier side:\n",
        "height": 448,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -240
      ],
      "typeVersion": 1,
      "id": "6bd7f437-5b3d-4677-a605-ecc660a4fdca",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Short Form Content Automation Workflow (n8n side)\nThis will send the video content such as the title, description and the Video URL to Zapier so that it can send it to the social media accounts with Buffer.",
        "height": 112,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -240
      ],
      "typeVersion": 1,
      "id": "eee06ab8-10c1-4203-bf14-d8b29adfb1d1",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f70582f2-aefd-449a-8eea-30ff8f1d7700",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "4EnfO9Vdw0oTOcdM",
  "tags": []
}