workflows/aadikarta-post-workflow-07-03-2026.json
{
  "name": "aadikarta-post-workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 5,
              "minute": 30
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "69c9b79d-aacc-47f9-850e-e8de8b5070f8"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "signs",
              "value": "मेष,वृषभ,मिथुन,कर्क,सिंह,कन्या,तुला,वृश्चिक,धनु,मकर,कुंभ,मीन"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Signs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f3e66fa3-0f25-4cef-abc6-ce5e8f5b26d2"
    },
    {
      "parameters": {
        "jsCode": "const signsString = $json.signs;\nreturn signsString.split(',').map(sign => ({ json: { signs: sign.trim() } }));"
      },
      "name": "Split Signs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "37e6b9b9-e2cd-49ed-ae91-921b84be0c5b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"आज की तारीख: {{$now}}\\nराशि: {{$json.signs}}\\n150 शब्दों में वैदिक राशिफल लिखें। करियर, प्रेम, स्वास्थ्य, उपाय, शुभ रंग, शुभ अंक शामिल करें।\"\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Generate Horoscope",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        0
      ],
      "id": "44aa2467-96bd-4524-a356-5f6e58611412",
      "credentials": {
        "httpBearerAuth": {
          "id": "3xMq6SDeBNk2jzR1",
          "name": "OpenAI Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mapping = {\n  'मेष': 'aries',\n  'वृषभ': 'taurus',\n  'मिथुन': 'gemini',\n  'कर्क': 'cancer',\n  'सिंह': 'leo',\n  'कन्या': 'virgo',\n  'तुला': 'libra',\n  'वृश्चिक': 'scorpio',\n  'धनु': 'sagittarius',\n  'मकर': 'capricorn',\n  'कुंभ': 'aquarius',\n  'मीन': 'pisces'\n};\nconst hindiSign = $node[\"Split Signs\"].json[\"signs\"];\nreturn [{\n  json: {\n    sign: hindiSign,\n    english_sign: mapping[hindiSign] || hindiSign.toLowerCase(),\n    content: $json.choices[0].message.content.trim()\n  }\n}];"
      },
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "e998135e-e89b-4489-9dae-7cea2178daff"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "daily_horoscopes",
          "mode": "list",
          "cachedResultName": "daily_horoscopes"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "sign",
              "value": "=={{ $json.sign }}"
            },
            {
              "column": "content",
              "value": "=={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "9bbaf6aa-6e0f-45ab-bb32-81abc5254604",
      "credentials": {
        "postgres": {
          "id": "5UK3zXmv5jYIF1oQ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst englishSign = $node[\"Extract Content\"].json.english_sign || 'unknown';\nconst filePath = `/root/.n8n-files/${englishSign}.mp4`;\n\n// Ensure directory exists\nif (!fs.existsSync('/root/.n8n-files/')){\n    fs.mkdirSync('/root/.n8n-files/', { recursive: true });\n}\n\nfs.copyFileSync('/data/n8n-work/dummy.mp4', filePath);\n\nreturn [{\n  json: {\n    ...$json,\n    saved_file: filePath,\n    dummy_mode: true\n  }\n}];"
      },
      "name": "Generate & Save Voice",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "2521d13b-5f4c-41d4-b1e7-aa01effd54e8"
    },
    {
      "parameters": {
        "command": "=echo \"Skipping reel creation, using dummy video for {{ $node[\"Extract Content\"].json.english_sign }}\""
      },
      "name": "Create Reel",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1408,
        0
      ],
      "id": "5ccb49ce-29b6-440c-91c2-a30dbfa60546"
    },
    {
      "parameters": {
        "filePath": "=/root/.n8n-files/{{ $node[\"Extract Content\"].json.english_sign }}.mp4"
      },
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1600,
        0
      ],
      "id": "3d0f8c1c-4e86-4695-bce9-4466fe8ed345"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.FACEBOOK_PAGE_ID + \"/video_reels?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "name": "Initialize Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1808,
        0
      ],
      "id": "9a32ebcb-f451-46fd-b3b7-293d9b87c5e1"
    },
    {
      "parameters": {
        "jsCode": "\nconst https = require('https');\nconst fs = require('fs');\n\nconst uploadUrl = $('Initialize Reel').first().json.upload_url;\n\n// In a native JS Code node, environment variables are accessed via process.env\nconst accessToken = (process.env.FACEBOOK_PAGE_ACCESS_TOKEN || '').trim();\nif (!accessToken) {\n  throw new Error(\"Missing FACEBOOK_PAGE_ACCESS_TOKEN in environment!\");\n}\n\n// Get the specific English sign name for the file\nconst englishSign = $('Extract Content').first().json.english_sign;\nconst filePath = englishSign ? `/root/.n8n-files/${englishSign}.mp4` : '/root/.n8n-files/dummy.mp4';\n\nif (!fs.existsSync(filePath)) {\n  throw new Error(\"Video file not found! \" + filePath);\n}\n\nconst fileData = fs.readFileSync(filePath);\nconst parsedUrl = new URL(uploadUrl);\n\nconst options = {\n  hostname: parsedUrl.hostname,\n  path: parsedUrl.pathname + parsedUrl.search,\n  method: 'POST',\n  headers: {\n    'Authorization': `OAuth ${accessToken}`,\n    'offset': '0',\n    'file_size': fileData.length.toString(),\n    'Content-Length': fileData.length.toString()\n  }\n};\n\nreturn new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    let responseData = '';\n    res.on('data', (chunk) => responseData += chunk);\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(responseData || '{}');\n        resolve([{ json: { ...parsed, _status: res.statusCode } }]);\n      } catch (e) {\n        resolve([{ json: { raw: responseData, _status: res.statusCode } }]);\n      }\n    });\n  });\n\n  req.on('error', (e) => reject(e));\n  req.write(fileData);\n  req.end();\n});\n"
      },
      "name": "Upload Reel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        0
      ],
      "id": "51bee227-6abb-4c43-bbf1-77a165e98c75"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.FACEBOOK_PAGE_ID + \"/video_reels?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_phase",
              "value": "finish"
            },
            {
              "name": "video_id",
              "value": "={{ $node[\"Initialize Reel\"].json.video_id }}"
            },
            {
              "name": "video_state",
              "value": "PUBLISHED"
            },
            {
              "name": "description",
              "value": "={{ $node[\"Extract Content\"].json.content }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2208,
        0
      ],
      "id": "616c545c-6755-4fe3-9952-d86164b49bfa"
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) {\n  throw new Error(`FACEBOOK API ERROR: ${$json.error.message} (Type: ${$json.error.type})`);\n}\nif (!$json.success) {\n  throw new Error(`FACEBOOK PUBLISH FAILED: Success flag not received. Response: ${JSON.stringify($json)}`);\n}\nreturn [{\n  json: {\n    facebook_success: true,\n    video_id: $node[\"Initialize Reel\"].json.video_id,\n    raw_response: $json\n  }\n}];"
      },
      "name": "Facebook Response Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "id": "a6fe3055-4bfc-46e2-b9b0-3850666cc34a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.INSTAGRAM_BUSINESS_ACCOUNT_ID + \"/media?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"upload_type\":\"resumable\",\n  \"media_type\":\"REELS\"\n}",
        "options": {}
      },
      "name": "Initialize IG Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1808,
        208
      ],
      "id": "853fc717-dda1-4289-b095-9e3b9ba5f79c"
    },
    {
      "parameters": {
        "jsCode": "\nconst https = require('https');\nconst fs = require('fs');\nconst { URL } = require('url');\n\nconst initData = $('Initialize IG Reel').first().json;\nconst uploadUrl = initData.uri || initData.upload_url || initData.id;\nif (!uploadUrl) {\n  throw new Error(\"Could not find upload URL (uri) from Initialize IG Reel node. Response was: \" + JSON.stringify(initData));\n}\n\n// In a native JS Code node, environment variables are accessed via process.env\nconst accessToken = ($env.FACEBOOK_PAGE_ACCESS_TOKEN || '').trim();\nif (!accessToken) {\n  throw new Error(\"Missing FACEBOOK_PAGE_ACCESS_TOKEN in environment!\");\n}\n\n// Get the specific English sign name for the file, fallback to dummy.mp4\nconst englishSign = $('Extract Content').first().json.english_sign;\nconst filePath = englishSign ? `/root/.n8n-files/${englishSign}.mp4` : '/root/.n8n-files/dummy.mp4';\n\nif (!fs.existsSync(filePath)) {\n  throw new Error(\"Video file not found! \" + filePath);\n}\n\nconst fileData = fs.readFileSync(filePath);\nconst parsedUrl = new URL(uploadUrl);\n\nconst options = {\n  hostname: parsedUrl.hostname,\n  path: parsedUrl.pathname + parsedUrl.search,\n  method: 'POST',\n  headers: {\n    'Authorization': `OAuth ${accessToken}`,\n    'offset': '0',\n    'file_size': fileData.length.toString(),\n    'Content-Length': fileData.length.toString()\n  }\n};\n\nreturn new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    let responseData = '';\n    res.on('data', (chunk) => responseData += chunk);\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(responseData || '{}');\n        resolve([{ json: { ...parsed, _status: res.statusCode } }]);\n      } catch (e) {\n        resolve([{ json: { raw: responseData, _status: res.statusCode } }]);\n      }\n    });\n  });\n\n  req.on('error', (e) => reject(e));\n  req.write(fileData);\n  req.end();\n});\n"
      },
      "name": "Upload IG Reel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        208
      ],
      "id": "695ca437-4c41-4380-a101-23d4a0c20655"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.INSTAGRAM_BUSINESS_ACCOUNT_ID + \"/media_publish?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $node[\"Initialize IG Reel\"].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish IG Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2208,
        208
      ],
      "id": "437de5a0-6ba7-46ff-bb7f-2184d415835f"
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) {\n  throw new Error(`INSTAGRAM API ERROR: ${$json.error.message} (Type: ${$json.error.type})`);\n}\nif (!$json.id) {\n  throw new Error(`INSTAGRAM PUBLISH FAILED: Failed to get published media ID. Response: ${JSON.stringify($json)}`);\n}\nreturn [{\n  json: {\n    instagram_success: true,\n    ig_media_id: $json.id,\n    raw_response: $json\n  }\n}];"
      },
      "name": "Instagram Response Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        208
      ],
      "id": "31f9833b-df96-4449-bc30-ba65ecbac48b"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set Signs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Signs": {
      "main": [
        [
          {
            "node": "Split Signs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Signs": {
      "main": [
        [
          {
            "node": "Generate Horoscope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Horoscope": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Generate & Save Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate & Save Voice": {
      "main": [
        [
          {
            "node": "Create Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reel": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "Initialize IG Reel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Reel": {
      "main": [
        [
          {
            "node": "Upload Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Reel": {
      "main": [
        [
          {
            "node": "Publish Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Reel": {
      "main": [
        [
          {
            "node": "Facebook Response Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize IG Reel": {
      "main": [
        [
          {
            "node": "Upload IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload IG Reel": {
      "main": [
        [
          {
            "node": "Publish IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Reel": {
      "main": [
        [
          {
            "node": "Instagram Response Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4534e50-c7d8-4927-8106-64d4a4aed323",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85eb66cfde6ba940fb2eacd85c7f0140143cada0c159cdffbfbb9e0539b49ed5"
  },
  "id": "gdnR9ghqjA2uFUn6",
  "tags": []
}