workflows/story_to_video_workflow.json
{
  "name": "Story to Video (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "generate-video-story-webhook"
    },
    {
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\nconst uniqueId = Date.now().toString() + Math.floor(Math.random() * 1000).toString();\nconst filePath = `/root/.n8n-files/story_video_${uniqueId}.mp4`;\n\n// For now, testing with dummy video\nif (!fs.existsSync('/root/.n8n-files/')){\n    fs.mkdirSync('/root/.n8n-files/', { recursive: true });\n}\ntry {\n    fs.copyFileSync('/data/n8n-work/dummy.mp4', filePath);\n} catch (e) {\n    console.log('Dummy video not found, continuing anyway.');\n}\n\nreturn [{\n  json: {\n    content: $json.body.story + '\\n\\n[Dev Test: ' + uniqueId + ']',\n    scenes: $json.body.scenes,\n    english_sign: `story_video_${uniqueId}`,\n    saved_file: filePath,\n    dummy_mode: true\n  }\n}];\n"
      },
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "filePath": "=/root/.n8n-files/{{ $node[\"Extract Content\"].json.english_sign }}.mp4"
      },
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.FACEBOOK_PAGE_ID + \"/video_reels?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "method": "POST",
        "sendBody": true,
        "sendQuery": false,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"upload_phase\": \"start\" }",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Initialize Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n    const https = require('https');\n    const fs = require('fs');\n    const uploadUrl = $('Initialize Reel').first().json.upload_url;\n\n    // Secure Access Token via Memory\n    const accessToken = $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim();\n\n    // Identify the dynamic video file name\n    const filePath = \"/root/.n8n-files/dummy.mp4\";\n\n    if (!fs.existsSync(filePath)) {\n        throw new Error(\"Could not find video at: \" + filePath);\n    }\n\n    // Natively read the binary bytes from disk\n    const binaryBuffer = fs.readFileSync(filePath);\n\n    // Manually split the URL into Hostname and Path to bypass the missing URL class\n    const urlWithoutProtocol = uploadUrl.substring(8);\n    const firstSlashIndex = urlWithoutProtocol.indexOf('/');\n    const hostname = urlWithoutProtocol.substring(0, firstSlashIndex);\n    const path = urlWithoutProtocol.substring(firstSlashIndex);\n\n    const options = {\n        hostname: hostname,\n        path: path,\n        method: 'POST',\n        headers: {\n            'Authorization': `OAuth ${accessToken}`,\n            'offset': '0',\n            'file_size': binaryBuffer.length.toString(),\n            'Content-Length': binaryBuffer.length.toString(),\n            // THIS is the secret header that Facebook's server requires to parse the payload properly!\n            'Content-Type': 'application/x-www-form-urlencoded',\n            'Connection': 'keep-alive',\n            'Accept': '*/* '\n        }\n    };\n\n    return await new Promise((resolve, reject) => {\n        const req = https.request(options, (res) => {\n            let responseData = '';\n            res.on('data', (chunk) => responseData += chunk);\n            res.on('end', () => resolve([{ json: { body: responseData, status: res.statusCode } }]));\n        });\n\n        req.on('error', (e) => resolve([{ json: { execute_error: e.message } }]));\n        req.write(binaryBuffer);\n        req.end();\n    });\n\n} catch (masterError) {\n    return [{ json: { CRASH: masterError.message, stack: masterError.stack } }];\n}\n"
      },
      "name": "Upload Reel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.FACEBOOK_PAGE_ID + \"/video_reels?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "keypair",
        "sendQuery": false,
        "jsonParameters": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "upload_phase",
              "value": "finish"
            },
            {
              "name": "video_id",
              "value": "={{ $node[\"Initialize Reel\"].json.video_id }}"
            },
            {
              "name": "video_state",
              "value": "DRAFT"
            },
            {
              "name": "description",
              "value": "={{ $node[\"Extract Content\"].json.content }}"
            }
          ]
        }
      },
      "name": "Publish Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) {\n  throw new Error(`FACEBOOK API ERROR: ${$json.error.message} (Type: ${$json.error.type})`);\n}\nif (!$json.success) {\n  throw new Error(`FACEBOOK PUBLISH FAILED: Success flag not received. Response: ${JSON.stringify($json)}`);\n}\nreturn [{\n  json: {\n    facebook_success: true,\n    video_id: $node[\"Initialize Reel\"].json.video_id,\n    raw_response: $json\n  }\n}];"
      },
      "name": "Facebook Response Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.INSTAGRAM_BUSINESS_ACCOUNT_ID + \"/media?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "method": "POST",
        "sendBody": true,
        "sendQuery": false,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"media_type\": \"REELS\", \"upload_type\": \"resumable\", \"caption\": {{ JSON.stringify($node[\"Extract Content\"].json.content) }} }",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Initialize IG Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n    const https = require('https');\n    const fs = require('fs');\n    const initData = $('Initialize IG Reel').first().json;\n    const uploadUrl = initData.uri || initData.upload_url || initData.id;\n    if (!uploadUrl) {\n      throw new Error(\"Could not find upload URL (uri) from Initialize IG Reel node. Response was: \" + JSON.stringify(initData));\n    }\n\n    // Secure Access Token via Memory\n    const accessToken = $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim();\n\n    // Identify the dynamic video file name\n    const filePath = \"/root/.n8n-files/dummy.mp4\";\n\n    if (!fs.existsSync(filePath)) {\n        throw new Error(\"Could not find video at: \" + filePath);\n    }\n\n    // Natively read the binary bytes from disk\n    const binaryBuffer = fs.readFileSync(filePath);\n\n    // Manually split the URL into Hostname and Path to bypass the missing URL class\n    const urlWithoutProtocol = uploadUrl.substring(8);\n    const firstSlashIndex = urlWithoutProtocol.indexOf('/');\n    const hostname = urlWithoutProtocol.substring(0, firstSlashIndex);\n    const path = urlWithoutProtocol.substring(firstSlashIndex);\n\n    const options = {\n        hostname: hostname,\n        path: path,\n        method: 'POST',\n        headers: {\n            'Authorization': `OAuth ${accessToken}`,\n            'offset': '0',\n            'file_size': binaryBuffer.length.toString(),\n            'Content-Length': binaryBuffer.length.toString(),\n            // THIS is the secret header that Facebook's server requires to parse the payload properly!\n            'Content-Type': 'application/x-www-form-urlencoded',\n            'Connection': 'keep-alive',\n            'Accept': '*/* '\n        }\n    };\n\n    return await new Promise((resolve, reject) => {\n        const req = https.request(options, (res) => {\n            let responseData = '';\n            res.on('data', (chunk) => responseData += chunk);\n            res.on('end', () => resolve([{ json: { body: responseData, status: res.statusCode } }]));\n        });\n\n        req.on('error', (e) => resolve([{ json: { execute_error: e.message } }]));\n        req.write(binaryBuffer);\n        req.end();\n    });\n\n} catch (masterError) {\n    return [{ json: { CRASH: masterError.message, stack: masterError.stack } }];\n}\n"
      },
      "name": "Upload IG Reel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{\"https://graph.facebook.com/v18.0/\" + $env.INSTAGRAM_BUSINESS_ACCOUNT_ID + \"/media_publish?access_token=\" + $env.FACEBOOK_PAGE_ACCESS_TOKEN.trim()}}",
        "method": "POST",
        "sendBody": true,
        "sendQuery": false,
        "specifyBody": "json",
        "jsonParameters": true,
        "bodyParametersJson": "={ \"creation_id\": \"{{ $node[\\\"Initialize IG Reel\\\"].json.id }}\" }",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "Publish IG Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.error) {\n  throw new Error(`INSTAGRAM API ERROR: ${$json.error.message} (Type: ${$json.error.type})`);\n}\nif (!$json.id) {\n  throw new Error(`INSTAGRAM PUBLISH FAILED: Failed to get published media ID. Response: ${JSON.stringify($json)}`);\n}\nreturn [{\n  json: {\n    instagram_success: true,\n    ig_media_id: $json.id,\n    raw_response: $json\n  }\n}];"
      },
      "name": "Instagram Response Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:8000/api/v1/story/webhook/n8n/video-completed",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_id",
              "value": "={{ $node[\"Webhook\"].json.body.project_id }}"
            }
          ]
        },
        "options": {
          "bodyContentType": "multipart-form-data",
          "sendBinaryData": true,
          "binaryPropertyName": "video_file:data"
        }
      },
      "name": "Save Video to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2800,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Read Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Video File": {
      "main": [
        [
          {
            "node": "Initialize Reel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Initialize IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Reel": {
      "main": [
        [
          {
            "node": "Upload Reel",
            "type": "main"
          }
        ]
      ]
    },
    "Upload Reel": {
      "main": [
        [
          {
            "node": "Publish Reel",
            "type": "main"
          }
        ]
      ]
    },
    "Publish Reel": {
      "main": [
        [
          {
            "node": "Facebook Response Check",
            "type": "main"
          }
        ]
      ]
    },
    "Initialize IG Reel": {
      "main": [
        [
          {
            "node": "Upload IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload IG Reel": {
      "main": [
        [
          {
            "node": "Publish IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Reel": {
      "main": [
        [
          {
            "node": "Instagram Response Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Response Check": {
      "main": [
        [
          {
            "node": "Save Video to Backend",
            "type": "main"
          }
        ]
      ]
    },
    "Instagram Response Check": {
      "main": [
        [
          {
            "node": "Save Video to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}